{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} {% endblock %}

{% block container_fluid %}
<div class="container-fluid row mb-6">
    <h1>Posicionar</h1>
    <p class="lead">
      Preencha todos os campos obrigatórios.
    </p>
    <hr>
  <div class="container mb-8">
    <form method="POST">
      
    {% csrf_token %}
    {{ form|crispy }}
      
    <div style="text-align: center;">
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
  </form>
</div>
</div>
    {% endblock %}
