{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block title %} Editar CTO {% endblock %}

{% block container_fluid %}
<link rel="stylesheet" href="{% static 'css/map.css' %}">
    <h1>Editar CTO</h1>
    <form method="POST">
      {% csrf_token %}
      {{ form|bootstrap }}
      <button type="submit" class="btn btn-primary">Editar</button>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mapa" onclick="start()" class="botao">
      Clique aqui para carregar mapa
      </button>
      {% if cto %}
      <a href="{% url 'inventory:excluir-cto' cto.id %}" class="btn btn-primary botao" tabindex="-1" role="button" aria-disabled="true">Excluir</a>
      {% endif %}
    </form>

    <!-- Modal -->
  <div class="modal fade" id="mapa" tabindex="-1" aria-labelledby="mapa" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body" id="divMap">
        </div>
      </div>
    </div>
  </div>

    {% endblock %}
