{% extends 'base.html' %}
{% load static %}

{% block title %} CEO Posicionadas {% endblock %}

{% block container_fluid %}   

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="h3 mb-2 text-gray-800">Postes posicionados</h1>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                          <th>ID</th>
                          <th>Identificação</th>
                          <th>Opções</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Identificação</th>
                            <th>Opções</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for pole in object_list %}
                        <tr>
                            <td>{{ pole.id }}</td>
                            <td>{{ pole.identification }}</td>
                            <td>
                                Editar
                                Exclui
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="3" align="center">
                                Nenhum <b>poste</b> registrado.
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div style="width: 100%; text-align: center;"></div>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#positionceo">
          Nova Caixa
      </button>
    </div>

    <form method="POST" action="{% url 'inventory:posicionarposte' %}">
    {% csrf_token %}
        <!-- Modal -->
        <div class="modal fade" id="positionceo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Posicionar CEO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Identificação</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="identification" name="identification"> 
                    </div>
    
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Modelo de Caixa</label>
                        <select class="form-select" id="inputGroupSelect01" id="ceoModel" name="ceoModel">
                          <option value>---------</option>
                            {% for box in box %}
                            <option value="{{box.id}}">{{box.description}}</option>
                            {% endfor %}
                        </select>
                      </div>
                    
                      <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Identificação do Poste</label>
                        <select class="form-select" id="inputGroupSelect01" id="pole" name="pole">
                          <option value>---------</option>
                            {% for pole in pole %}
                            <option value="{{pole.id}}">{{pole.identification}}</option>
                            {% endfor %}
                        </select>
                      </div>
    
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Numero de Bandeijas</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="numberTray" name="numberTray"> 
                      </div>
    
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Numero de Fusões</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="numberFusion" name="numberFusion"> 
                      </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-primary">Posicionar</button>
                </div>
            </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
{% block js_body %}
<!-- Data Tables -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}

    
